<!-- Main HTML Template for the Application -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags for character set, viewport, and compatibility -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Dynamic Jinja Block for Head Template -->
    {% block head %}{% endblock %}
    <!-- Link to External CSS Using Dynamic URL -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Custom Background Color -->
    <style>
      .taupe-background {
        background-color: #B38B6D;
      }
    </style>
</head>
<body class="taupe-background">
  <!-- Dynamic Jinja Block for Body Template -->
  {% block body %}{% endblock %}
  <!-- Link to External JS Using Dynamic URL -->
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
