<!-- Index HTML Page using templates -->
{% extends 'base.html' %}

{% block head %}
    <!-- Set the title of the page -->
    <title>Digital Diva</title>
{% endblock %}

{% block body %}
<!-- Hero Section -->
<div>
    <div class="h-screen flex flex-col justify-center items-center">
        <!-- Content Section - Start -->
        <div class="text-center">
            <!-- Main heading -->
            <h1 class="mb-2 text-2xl font-sans text-white md:text-3xl">Digital Diva</h1>
            <!-- Subheading -->
            <p class="font-sans mb-8 text-white md:text-lg">Meet Your Sassy New Life Coach: Nandini Kumar's Digital Doppelgänger!</p>
            <!-- CTA Button -->
            <a id="ctaLink" href="/results" class="font-sans inline-block rounded-lg bg-gray-200 px-8 py-3 text-center text-sm font-semibold text-neutral-600 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base">Let's Talk</a>
        </div>
        <!-- Content Section - End -->
    </div>
</div>
{% endblock %}
